<div class='text-center'>
  <h2>{{name}}</h2>
 <img src="{{imageUrl}}">
  <p>Breed: {{breed}}</p>
  <p>Age: {{age}}</p>
  <p>Size: {{size}}</p>
  <p>Sex: {{sex}}</p>
  <p>About: {{about}}</p>
  <p>Contact: {{user.name}} for more information.{{!--{{format_date date_created}} --}} </p>
  <p>
    <span for='img' aria-label='money'>💲</span>
    <span class='dollar-amount'>{{format_amount needed_funding}}</span>
    Adoption Fee
  </p>
  
  <p>
    <button class='btn btn-primary'>Meet {{name}}</button>
  </p>
</div>